* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
}
body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 550px;
    min-width: 320px;
    min-height: 158px;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    padding: 2.625em;
    background: url("img/header.png");
    background-size: cover;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

a {
    font-size: 0.875rem;
    color: white;
    text-decoration: none;
}
h1, a, button {
    user-select: none;
    cursor: pointer;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* SERCH BAR */
.search-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 84%;
    background: white;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    height: 2.375em;
    top: -19px;
    bottom: 0;
    right: 8%;
    left: 8%;
}

input {
    height: 2.25em;
    width: 72%;
    border: none;
    margin: 0;
    padding-left: 10px;
}

.search-btn {
    height: 2.3em;
    width: 26%;
    border: none;
    margin: 0;
    border-left: 1px solid #D1D5DB;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #374151;
}

.search-btn:hover {
    background: #FEC654;
}

.fa-magnifying-glass {
    color: #9CA3AF;
    margin: auto;
    padding-left: 0.5em; 
}

input:focus, button:focus {
    outline: none;
}

/* MOVIES CONTAINER - NO MOVIE*/
.default, .watchlist-default {
    text-align: center;
    padding: 5em 5em;
}
.fa-film {
    font-size: 8rem;
    margin: 0;
}
.starting-text {
    font-size: 1.125rem;
}
.fa-film, .starting-text {
    color: #dfdddd;
}

/* FILMS CONTAINER - WATCHLIST */
.fa-plus, .fa-minus {
    background: #363636;
    color: white;
    padding: 0.3em;
    border-radius: 50%;
    margin-right: 0.3em;
    font-size: 12px;
}

.watchlist-default a {
    color: #363636;
}

/* FILMs CONTAINER - SEARCH RESULT */

.films-container, .watchlist-films-container {
    padding: 3.9375em 0;
}
.film {
    width: 84%;
    margin: 0 auto;
    gap: 1em;
    align-items: center;
}
.film a {
    color: black;
    font-size: 0.75rem;
}
.film, .film-title, .film-genre {
    display: flex;
}
.film img {
    width: 21.43%;
    max-height: 147px; 
}
.fa-star {
    color: #FEC654;
    font-size: 0.75rem;
}
.film-title {
    gap: 0.3em;
    align-items: center;
}
.film-title h3 {
    margin-right: 1em;
}
.film-title p {
    font-size: 0.75rem;
}
.film-genre {
    gap: 1em;
    align-items: baseline;
    font-size: 0.75rem;
}
.film-plot {
    font-size: 0.875rem;
}
hr {
    margin: 1em auto;;
    width: 84%;
    color: #E5E7EB;
}
.watchlist {
    user-select: none;
}


.hidden {
    display: none;
}
